- if @item.errors.present?
  = @item.errors.full_messages.join("<br />").html_safe
= form_for @item, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :title, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, :class => 'text-field form-control'
  .form-group
    = f.label :description, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_area :description, :class => 'text-field form-control'
  .form-group
    = f.label :start_date, :class => 'control-label col-md-2'
    .col-md-10
      = f.date_select :start_date, :class => 'text-field form-control'
  .form-group
    = f.label :end_date, :class => 'control-label col-md-2'
    .col-md-10
      = f.date_select :end_date, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        items_path, :class => 'btn btn-default'                      |

:javascript
  $(document).ready(function(){
  });