- model_class = Item
.page-header
.fieldset
  %dl


    %dt.label.label-default= model_class.human_attribute_name(:title)
    %dd
      %pre.prettyprint= @item.title
    %dt.label.label-default= model_class.human_attribute_name(:description)
    %dd
      %pre.prettyprint= @item.description
.form-group
  = link_to t('.back', :default => t("helpers.links.back")), |
    items_path, :class => 'btn btn-success'                  |
  - if user_signed_in? && (current_user == @item.created_by || current_user.superuser?)
    = link_to t('.edit', :default => t("helpers.links.edit")), |
      edit_item_path(@item), :class => 'btn btn-primary'       |
    -#
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
      item_path(@item),                                                                                            |
      :method => 'delete',                                                                                         |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
      :class => 'btn btn-danger'                                                                                   |